/*Wrapper forms*/
#singUpWrapper{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
/***********************************************************************************/
/*Smaller wrapper forms with width*/
.formsWrapper{
  position: relative;
  width: 1124px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  overflow: visible;
}
/***********************************************************************************/

/*Sign up form wrapper*/
.signUpWrapper {
  position: relative;
  width: 654px;
  margin-top: 75px;
  padding: 25px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  border-radius: 10px;
  box-shadow: 0 1px 9px 0 rgb(0 0 0 / 2%), 0 2px 6px 0 rgb(0 0 0 / 1%), 0 10px 34px 0 rgb(0 0 0 / 3%);
}
/***********************************************************************************/

/*Log in form wrapper*/
.logInWrapper {
  position: relative;
  width: 420px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow: visible;
}

/*ROUTE PARAMS WRAPPER ***************************************************/

#routeWrapper {
  position: relative;
  width: 100%;
  min-height: 59px !important;
  margin-top: 25px;
  height: max-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}

/**************************************************************************/

/*-------------------------Wrapper Follow component---------------------------------------------------------*/
#follow {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 75px 0;
  background-color: #5340ff;
  box-shadow: 0 1px 9px 0 rgb(0 0 0 / 2%), 0 2px 6px 0 rgb(0 0 0 / 1%),
    0 10px 34px 0 rgb(0 0 0 / 3%);
}

/*----------------------------------------------------------------------------------*/

/*RESPONSIVE MEDIA QUERIES*/

@media (max-width: 320px) {
  /*Smaller wrapper forms with width*/
    .formsWrapper {
      width: 238px;
    }
  /***********************************************************************************/

  /*-------------------------Wrapper Follow component---------------------------------------------------------*/
    #follow {
      margin: 50px 0 50px 0;
    }
  /***********************************************************************************/
  /*Sign up form wrapper*/
    .signUpWrapper {
      width: 100%;
      margin-top: 50px;
    }
  /***********************************************************************************/
  /*Log in form wrapper*/
    .logInWrapper {
      display: none;
    }

}

@media only screen and (max-width: 414px) and (min-width: 321px) {
  /*Smaller wrapper forms with width*/
    .formsWrapper {
      width: 300px;
    }
  /***********************************************************************************/

  /*-------------------------Wrapper Follow component---------------------------------------------------------*/
    #follow {
      margin: 50px 0 50px 0;
    }
  /***********************************************************************************/
  /*Sign up form wrapper*/
    .signUpWrapper {
      width: 100%;
      margin-top: 50px;
    }
  /***********************************************************************************/
  /*Log in form wrapper*/
    .logInWrapper {
      display: none;
    }

}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {
  /*Smaller wrapper forms with width*/
    .formsWrapper {
      width: 380px;
    }
  /***********************************************************************************/

  /*Sign up form wrapper*/
    .signUpWrapper {
      width: 100%;
    }
  /***********************************************************************************/
  /*Log in form wrapper*/
    .logInWrapper {
      display: none;
    }

}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {
  /*Smaller wrapper forms with width*/
    .formsWrapper {
      width: 538px;
    }
  /***********************************************************************************/
  /*Sign up form wrapper*/
    .signUpWrapper {
      width: 100%;
    }
  /***********************************************************************************/
  /*Log in form wrapper*/
    .logInWrapper {
      display: none;
    }

}
@media only screen and (max-width: 920px) and (min-width: 769px) {
  /*Smaller wrapper forms with width*/
    .formsWrapper {
      width: 657px;
    }
  /***********************************************************************************/

  /*Sign up form wrapper*/
    .signUpWrapper {
      width: 100%;
    }
  /***********************************************************************************/
  /*Log in form wrapper*/
    .logInWrapper {
      display: none;
    }

}
@media only screen and (max-width: 1025px) and (min-width: 921px) {
  /*Smaller wrapper forms with width*/
    .formsWrapper {
      width: 820px;
    }
  /***********************************************************************************/

  /*Sign up form wrapper*/
    .signUpWrapper {
      width: 100%;
    }
  /***********************************************************************************/
  /*Log in form wrapper*/
    .logInWrapper {
      display: none;
    }

}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1026px) {
  /*Smaller wrapper forms with width*/
    .formsWrapper {
      width: 914px;
    }
  /***********************************************************************************/
  /*Sign up form wrapper*/
    .signUpWrapper {
      width: 444px;
    }
  /***********************************************************************************/

}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1201px) {
  /*Smaller wrapper forms with width*/
    .formsWrapper {
      width: 1020px;
    }
  /***********************************************************************************/
  /*Sign up form wrapper*/
    .signUpWrapper {
      width: 550px;
    }
  /***********************************************************************************/

}
