<div id="hotlinewrapper">
  <div class="childHotline">
    <div id="numWrapper">
      <h5>Gratis Hotine:</h5>
      <a href="tel:+436642175969">+436642175969</a>
    </div>
    <div id="timeWrapper">
      <h6>Mo - Fr</h6>
      <h6>08:00-16:00</h6>
    </div>
  </div>
</div>
<div id="footerWrapper">
  <div class="footerSections">
    <h4>About Us</h4>
    <a href="">About us</a> <br>
    <a href="">Jobs</a> <br>
    <a href="">Presse</a> <br>
    <a href="">Policies & Rules</a>
  </div>
  <div class="footerSections">
    <h4>Customer Services</h4>
    <a href="">Contact Us</a> <br>
    <a href="">Help Center</a> <br>
    <a href="">Report Abuse</a> <br>
    <a href="">Frequently asked questions</a> <br>
    <a href="">Guarantee conditions</a> <br>
    <a href="">Contact</a>
  </div>
  <div class="footerSections">
    <h4>Payment Methods</h4>
  </div>
  <div class="footerSections">
    <h4>Follow us</h4>
  </div>
</div>
