/*One product wrapper */
.itemWrapper1 {
  position: relative;
  width: 246.66px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 1px 9px 0 rgb(0 0 0 / 2%), 0 2px 6px 0 rgb(0 0 0 / 1%), 0 10px 34px 0 rgb(0 0 0 / 3%);
}
/********************************************************************************/


/*Product header*/
.itemHeader1 {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.itemHeader1 h3{
  font-size: 1.4rem;
  font-weight: 500;
}
/********************************************************************************/

/*Product image wrapper and image*/
.itemImage1 {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 23px;
}
.itemImage1 img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/********************************************************************************/

/*Product description*/
.itemDesc1 {
  position: relative;
  width: 100%;
  height: 138px;
  overflow: hidden!important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5px;
}
/********************************************************************************/

/*Span description*/
.descSpan {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(40, 62, 73, 0.45);
  background-color: #f7f7f7;
  padding: 7px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #223843;
  border-radius: 5px;
}

.descSpan h5 {
  font-weight: 400;
  font-size: 1.1rem;
}

/********************************************************************************/

/*PRICE  AND BUTTON FOR ITEM WRAPPER*/
.priceButtonWrapper1 {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*PRICE*/
.price1 {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}
.price1 h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #5340ff;
}

/*BUTTON FOR DETAILS REDIRECT TO ITEM*/
.btnDetail1 {
  position: relative;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #ff4f11;
  outline: none;
  border: none;
  color: #ffffff;
  border-radius: 10px;
  letter-spacing: 1.2px;
}
.btnDetail1:hover{
  cursor: pointer;
}
/*wRAPPER FOR SHOW MORE ITEMS BUTTON ADN NO ITEMS HEADER*/
.showMorebtnWrapper1 {
  position: relative;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
/********************************************************************************/
/*bUTTON SHOW MORE*/
.btn1 {
  position: relative;
  width: 250px;
  padding: 7px;
  font-size: 19px;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: #001925;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 10px;
  letter-spacing: 1.2px;
}
.btn1:hover{
  cursor: pointer;
}
/********************************************************************************/

/*No items header Wrapper */
.NoItemsWrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: flex-start;
}
/*No items header*/
.noItems{
  font-weight: 700;
}

/*RESPONSIVE MEDIA QUERIES*/

@media (max-width: 320px) {
  /*One product wrapper */
    .itemWrapper1 {
      width: 100%;
      margin-left: 0;
    }
  /**************************************************************/
  /*wRAPPER FOR SHOW MORE ITEMS BUTTON ADN NO ITEMS HEADER*/
    .showMorebtnWrapper1 {
      margin-top: 7px;
    }

    /*BUtoon showmore width*/
    .btn1{
      width: 238px;
    }
  /********************************************************************************/

  /*-------------------------Wrapper Follow component---------------------------------------------------------*/
  #follow {
    margin: 30px 0 50px 0;
  }
}

@media only screen and (max-width: 414px) and (min-width: 321px) {
  /*One product wrapper */
    .itemWrapper1 {
      width: 100%;
      margin-left: 0;
    }
  /**************************************************************/
  /*wRAPPER FOR SHOW MORE ITEMS BUTTON ADN NO ITEMS HEADER*/
    .showMorebtnWrapper1 {
      margin-top: 7px;
    }
    /*BUtoon showmore width*/
    .btn1 {
      width: 300px;
    }

  /********************************************************************************/

  /*-------------------------Wrapper Follow component---------------------------------------------------------*/
  #follow {
    margin: 30px 0 50px 0;
  }
}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {
  /*One product wrapper */
    .itemWrapper1 {
      width: 100%;
      margin-left: 0;
    }
  /**************************************************************/
  /*Products description***********************************/
    .itemDesc1 {
      height: 92px;
    }
  /**************************************************************/

  /*wRAPPER FOR SHOW MORE ITEMS BUTTON ADN NO ITEMS HEADER*/
    .showMorebtnWrapper1 {
      margin-top: 20px;
    }
  /********************************************************************************/

  /*-------------------------Wrapper Follow component---------------------------------------------------------*/
  #follow {
    margin-top: 55px;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {
  /*One product wrapper */
    .itemWrapper1 {
      width: 261.5px;
      margin-left: 0;
    }
  /**************************************************************/

  /*-------------------------Wrapper Follow component---------------------------------------------------------*/
  #follow {
    margin-top: 55px;
  }
}
@media only screen and (max-width: 920px) and (min-width: 769px) {

  /*One product wrapper */
    .itemWrapper1 {
      width: 321px;
      margin-left: 0;
    }
  /**************************************************************/

  /*-------------------------Wrapper Follow component---------------------------------------------------------*/
    #follow {
      margin-top: 55px;
    }
}
@media only screen and (max-width: 1025px) and (min-width: 921px) {
  /*One product wrapper */
    .itemWrapper1 {
      width: 100%;
    }
  /**************************************************************/
  /*Products description***********************************/
    .itemDesc1{
      height: 92px;
      justify-content: flex-start;
    }
  /**************************************************************/

  /*-------------------------Wrapper Follow component---------------------------------------------------------*/
    #follow {
      margin-top: 55px;
    }
}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1026px) {
  /*One product wrapper */
    .itemWrapper1 {
      width: 272.5px;
    }
  /**************************************************************/

}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1201px) {
  /*One product wrapper */
    .itemWrapper1 {
      width: 325.5px;
    }
  /**************************************************************/

}
