<ng-container *ngIf="!noItemsDisplay">


    <!--Wrapperof one product-->
    <div class="itemWrapper1" *ngFor="let item of objectsToShow" [@fadeIn] #element>

      <!--HEADER-->
      <div class="itemHeader1">
        <h3>{{item.prod_title}}</h3>
      </div>

      <!--ITEM IMAGE-->
      <div class="itemImage1">
        <img [src]="item.prod_images" alt="">
      </div>

      <!--ITEM DESCRIPTION-->
      <div class="itemDesc1">

            <div class="descSpan">
              <h5>
                  {{item.spec_color}}
              </h5>
            </div>

            <div class="descSpan">
              <h5>
                  {{item.spec_ram}} &nbsp;GB &nbsp;RAM
              </h5>
            </div>

            <div class="descSpan">
              <h5>
                  {{item.spec_hdd}} &nbsp;GB &nbsp; {{item.spec_hddType}}
              </h5>
            </div>

            <div class="descSpan">
              <h5>
                  {{item.spec_screen_size}}'
              </h5>
            </div>

            <div class="descSpan">
              <h5>
                  Guarantee &nbsp;{{item.spec_guarantee}}
              </h5>
            </div>

      </div>

      <!--PRICE AND BUTTON ON BOTTOM-->
      <div class="priceButtonWrapper1">

        <!--PRICE-->
        <div class="price1">
            <h3>
              {{item.prod_price}}&nbsp;€
            </h3>
        </div>
        <!--Button more details-->
        <button [routerLink]="['/categories', item.cat_slug, item.prod_slug, item.prod_id]" class="btnDetail1">Details</button>

        </div>

    </div>


    <!--Wrapper for show more Button or no items Header-->
    <div class="showMorebtnWrapper1" *ngIf="objects.length != objectsToShow.length">

      <button class="btn1" (click)="showMore()">Show More</button>

    </div>

</ng-container>

<div class="NoItemsWrapper" *ngIf="noItemsDisplay" [@fadeInDelay]>
  <h2 class="noItems">No Items To Show</h2>
</div>
