/*ITEM  WRAPPER*/
.itemWrapper1 {
  position: relative;
  width: 248px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-left: 30px;
  border: 0.1px solid #52ab98;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0px 0px 7px 1px rgb(82 171 152 / 58%);
}
.itemWrapper1:hover {
  box-shadow: 0px 0px 7px 1px rgb(82 171 152 / 99%);
}

/*ITEM HEADER*/
.itemHeader1 {
  position: relative;
  width: 100%;
  min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/*ITEM IMAGE*/
.itemImage1 {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.itemImage1 img {
  position: relative;
  width: 100%;
}
/*ITEM DESCRIPTION*/
.itemDesc1 {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}
.desc1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(40, 62, 73, 0.45);
  background-color: rgba(40, 62, 73, 0.095);
  padding: 7px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #223843;
  border-radius: 5px;
}
.desc1:hover {
  border: 1px solid rgba(40, 62, 73, 0.45);
  background-color: #c8d8e4;
}
/*PRICE  AND BUTTON FOR ITEM WRAPPER*/
.priceButtonWrapper1 {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/*PRICE*/
.price1 {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #2b6777;
  border-radius: 10px;
  margin-bottom: 10px;
}
.price1 h3 {
  font-weight: 700;
}
/*BUTTOn FOR DETAILS REDIRECT TO ITEM*/
.btnDetail1 {
  position: relative;
  width: 100%;
  padding: 6px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  background-color: #e6b8b8;
  border: 0.1px solid #52ab98;
  outline: none;
  border-radius: 5px;
}
.btnDetail1:hover{
  cursor: pointer;
}
/*BUTTON FOR SHOWINGMORE ITEMS AND WRAPPER*/
.showMorebtnWrapper1 {
  position: relative;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.btn1 {
  position: relative;
  width: 250px;
  padding: 7px;
  font-size: 19px;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: #c8d8e4;
}
.btn1:hover{
  cursor: pointer;
}


/*RESPONSIVE MEDIA QUERIES*/

@media (max-width: 320px) {
}

@media only screen and (max-width: 414px) and (min-width: 321px) {
}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {
}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {
}
@media only screen and (max-width: 920px) and (min-width: 769px) {
}
@media only screen and (max-width: 1025px) and (min-width: 921px) {
}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1026px) {
}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1201px) {
}
