<!--Header actions home-->
<div class="headerActions">
    <h2>Our top Products</h2>
</div>

<!------------------------------------------------------------------->


<!--Items!!-->
<div class="itemsWrapper" #wrapper>


  <div class="itemsAction"
  *ngFor="let item of saleObjects; let i = index"
  (mouseover)="mouseOver(i)"
  (mouseleave)="mouseLeave(i)">

    <!--Items header-->
    <header class="headerItems"
    [routerLink]="['/categories', item.cat_slug, item.prod_slug, item.prod_id]">

      <div class="h3"><h3>{{item.prod_title}}</h3></div>

    </header>

    <!--Image actions home-->
    <div class="image"
    [routerLink]="['/categories', item.cat_slug, item.prod_slug, item.prod_id]">

        <img [src]="item.prod_images" alt="">

    </div>

    <!--add to cart button-->
    <section class="itemsData">
        <button class="addTo"
          appAddToCart
          [itemOBJ]="item"
          [orderQuantity]="1">Add to cart</button>
    </section>

    <!--Price and button go to item data actions home-->
    <section class="itemsData itemsDataEnd"
    [routerLink]="['/categories', item.cat_slug, item.prod_slug, item.prod_id]">

        <h4 class="h4" *ngIf="details != i" [@fadeIn]>{{item.prod_price}} €</h4>
        <h4 class="h4 details" *ngIf="details == i" [@slideIn]>See Details</h4>

    </section>

  </div>

</div>


