.drop-wrapper{
  position: fixed;
  width: 1124px;
  height: 245px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #C8D8E4;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
}

/*WRAPPER FOR IMAGE LINKS*/

.itemsWrapper{
  position: relative;
  width: 150px;
  height: 145px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  color: #52AB98;
}
.itemsWrapper:hover{
  cursor: pointer;
}
.imgSection{
  position: relative;
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 15px;

}
.imgSection img{
  position: relative;
  width: 100%;
  height: 100%;
}
