#priceWrapper{
  position: relative;
  width: 264px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
}
#commonOptions{
  position: relative;
  width: 264px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}


/*----------BUTTON WRAPPER-------------*/

.btnWrapper{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.btnWrapper button{
  position: relative;
  width: 40%;
  text-align: center;
  padding: 5px;
  background-color: #52AB98;
  outline: none;
  border: 1.5px solid rgba(40, 62, 73, 0.35);
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1.4px;
}
.clickedBTN:hover{
  cursor: pointer;
}



/*RESPONSIVE MEDIA QUERIES*/

@media (max-width: 320px) {
}

@media only screen and (max-width: 414px) and (min-width: 321px) {
}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {
}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {
}
@media only screen and (max-width: 920px) and (min-width: 769px) {
}
@media only screen and (max-width: 1025px) and (min-width: 921px) {
}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1026px) {
}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1201px) {
}
