
<app-slider id="priceWrapper" [max]="maxPrice" [min]="minPrice" [headerCommon]="'Price'"></app-slider>

<app-common-wrapper-options  id="commonOptions" [options]="manufactuer" [optionsCommon]="'Manufacturer'"></app-common-wrapper-options>

<app-slider id="priceWrapper" [max]="maxDisplay" [min]="minDisplay" [headerCommon]="'Display size'"></app-slider>

<app-slider id="priceWrapper" [max]="maxHDD" [min]="minHDD" [headerCommon]="'Storage space'"></app-slider>

<app-common-wrapper-options  id="commonOptions" [options]="color" [optionsCommon]="'Color'"></app-common-wrapper-options>

<app-slider id="priceWrapper" [max]="maxRAM" [min]="minRAM" [headerCommon]="'RAM size'"></app-slider>

<div class="btnWrapper">
  <button class="clickedBTN" *ngIf="storage.data.length > 0"(mousedown)="buttonClicked()" (mouseup)="buttonRelased()">Filter</button>
</div>
