<!--If Show Login is true And user is not logged in-->

<div class="wrapper" *ngIf="showLogin && !logedInStatus">

  <span class="option">
    <h5 (click)="closeLoginMenu()"><a [routerLink]="['/log-in']" routerLinkActive="router-link-active"  href="">Log In</a></h5>
  </span>

  <span class="option">
    <h5 (click)="closeLoginMenu()"><a [routerLink]="['/sing-up']" href="">Sign Up</a></h5>
  </span>

</div>

<!--If Show Login is true and user is logged in-->


<div class="wrapper" *ngIf="showLogin && logedInStatus">

  <span class="option" style="border-bottom: 1px solid #ffffff; padding-bottom: 5px; margin-bottom:5px;">
    <h5>Hello {{nameOfUser}}</h5>
  </span>

  <span class="option">
    <h5 (click)="closeLoginMenu()"><a href="">My account</a></h5>
  </span>

  <span class="option">
    <h5 (click)="closeLoginMenu()"><a href="">My Orders</a></h5>
  </span>

  <span class="option">
    <h5 (click)="closeLoginMenu()"><a href="">My Returns</a></h5>
  </span>

  <span class="option">
    <h5 (click)="logOUT()"><a href="">Log Out</a></h5>
  </span>

</div>


<!--If Show Menu is true-->

<div class="wrapper" *ngIf="showMenu">

  <span class="option">
    <h5 (click)="closeMenu()" [routerLink]="['/allProducts']"><a href="">All Products</a></h5>
  </span>

  <span class="option extraPadding">
    <h5 (click)="closeMenu()" [routerLink]="['/categories', 'usedLaptops']"><a href="">Used Laptops</a></h5>
  </span>

  <span class="option extraPadding">
    <h5 (click)="closeMenu()" [routerLink]="['/categories', 'usedDesktops']"><a href="">Used Desktops</a></h5>
  </span>

  <span class="option extraPadding">
    <h5 (click)="closeMenu()" [routerLink]="['/categories', 'newLaptops']"><a href="">New Laptops</a></h5>
  </span>

  <span class="option extraPadding">
    <h5 (click)="closeMenu()" [routerLink]="['/categories', 'tablets']"><a href="">Tablets</a></h5>
  </span>

  <span class="option extraPadding">
    <h5 (click)="closeMenu()" [routerLink]="['/categories', 'smartphones']"><a href="">Smartphones</a></h5>
  </span>

  <span class="option">
    <h5 (click)="closeMenu()"><a href="">About</a></h5>
  </span>

  <span class="option">
    <h5 (click)="closeMenu()"><a href="">Contact</a></h5>
  </span>
</div>
