<!--All products link-->
<div id="allButton">
  <span class="TextWrapper" (mouseover)="changing()" (mouseleave)="changingFalse()">
    <h5 [routerLink]="['/allProducts']" (click)="changingFalse()">All Products</h5>
  </span>
</div>


<!--Navigation bar -->
<div id="navBar">
  <span class="navLink animate__slideInLeft" *ngFor="let item of objects">
    <h5 [routerLink]="['/categories', item.cat_slug]" routerLinkActive="router-link-active" >
      {{item!.cat_title}}
    </h5>
  </span>
</div>



<!--About and contact links-->
<div id="lastLinks">
  <div class="iconsWrapper">
    <h5>About</h5>
  </div>
  <div class="iconsWrapper1">
    <h5>Contact</h5>
  </div>
</div>
