/*All products link with drop down---------------*/
#allButton {
  position: relative;
  height: 40px;
  width: 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
/*AllProducts link Text Wrapper*/
.TextWrapper{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 15px;
}
/*h4 link */
.TextWrapper h5{
  font-weight: 600;
}
.TextWrapper h5:hover{
  color: #ffffff;
  cursor: pointer;
}
/*-------------------------------------------------------------------------------*/

/*NAVIGATION SECTION */
/*Wrapper navigation*/
#navBar {
  position: relative;
  height: 40px;
  width: 664px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
/*h4 link in span*/
.navLink h5{
  font-weight: 500;
}
.navLink :hover{
  color: #ffffff;
  cursor: pointer;
}
/*-------------------------------------------------------------------------------*/


/*last Links WRAPPER WITH ACCOUNT AND SHOPING CART*/
#lastLinks {
  position: relative;
  height: 40px;
  width: 230px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
/*About link*/
.iconsWrapper {
  position: relative;
  width: 65px;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.iconsWrapper h5{
  font-weight: 500;
}
.iconsWrapper h5:hover {
  color: #ffffff;
  cursor: pointer;
}


/*Contact link*/
.iconsWrapper1 {
  position: relative;
  width: 123px;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-left: 30px;
}
.iconsWrapper1 h5 {
  font-weight: 500;
}
.iconsWrapper1 h5:hover {
  color: #ffffff;
  cursor: pointer;
}



/*RESPONSIVE MEDIA QUERIES*/

@media (max-width: 320px) {
  /*NAVIGATION SECTION Display none*/
    #navBar {
      display: none;
    }


}

@media only screen and (max-width: 414px) and (min-width: 321px) {
  /*NAVIGATION SECTION Display none*/
    #navBar {
      display: none;
    }
}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {
  /*NAVIGATION SECTION Display none*/
    #navBar {
      display: none;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {
  /*NAVIGATION SECTION Display none*/
    #navBar {
      display: none;
    }
}
@media only screen and (max-width: 920px) and (min-width: 769px) {
  /*NAVIGATION SECTION Display none*/
    #navBar {
      display: none;
    }
}
@media only screen and (max-width: 1025px) and (min-width: 921px) {
  /*NAVIGATION SECTION Display none*/
    #navBar {
      display: none;
    }
}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1026px) {
  /*All products link with drop down---------------*/
    #allButton {
      width: 120px;
      justify-content: flex-end;
      margin-right: 30px;
    }

  /*NAVIGATION SECTION Display none*/
    #navBar {
      display: none;
    }
}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1201px) {
  /*All products link with drop down---------------*/
    #allButton {
      width: 120px;
      justify-content: flex-end;
      margin-right: 30px;
    }


  /*NAVIGATION SECTION Display none*/
    #navBar {
      display: none;
    }
}
