#wrapperItem{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
#commonWrapperItem {
  position: relative;
  width: 1124px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.routeWrapperItem {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.routeItem {
  position: relative;
  width: 1124px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/*ITEM AND DETAILS*/
.itemDisplay{
  position: relative;
  width: 1124px;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

/*WRAPPER FOR OPTIONS AND ITEM PHOTO */
.photoHeader{
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.optItem{
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
/*WRAPPER FOR OPTIONS AND ITEM PHOTO END*/
#wrapperFeat{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 75px;
  padding: 75px 0;
  justify-content: center;
  align-content: flex-start;
  background-color: #c8d8e4;
}

.wrapperDescription{
  position: relative;
  width: 1124px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 75px 0;
  border: 2px solid #F2F2F2;
  border-radius: 5px;
  padding: 75px;

}


/*ACTIONS*/

#actions{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0  75px 0;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 75px;
}



/*RESPONSIVE MEDIA QUERIES*/

@media (max-width: 320px) {
}

@media only screen and (max-width: 414px) and (min-width: 321px) {
}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {
}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {
}
@media only screen and (max-width: 920px) and (min-width: 769px) {
}
@media only screen and (max-width: 1025px) and (min-width: 921px) {
}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1026px) {
}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1201px) {
}
