<!--Divs with specification-->
<div class="desc" *ngIf="data.spec_color != null">
  <h5>
    {{data.spec_color}}
  </h5>
</div>

<!--********************-->
<div class="desc" *ngIf="data.prod_brand != null">
  <h5>
    {{data.prod_brand}}
  </h5>
</div>

<!--********************-->
<div class="desc" *ngIf="data.spec_hdd != null">
  <h5>
    Hard Disk: {{data.spec_hdd}} GB
  </h5>
</div>

<!--********************-->
<div class="desc" *ngIf="data.spec_screen_size != null">
  <h5>
    Screen size: {{data.spec_screen_size}}'
  </h5>
</div>

<!--********************-->
<div class="desc" *ngIf="data.spec_ram != null">
  <h5>
    RAM: {{data.spec_ram}} GB
  </h5>
</div>

<!--********************-->
<div class="desc" *ngIf="data.spec_operating_system != null">
  <h5>
    Operating System: {{data.spec_operating_system}}
  </h5>
</div>

<!--********************-->
<div class="desc" *ngIf="data.spec_resolution != null">
  <h5>
    Resolution: {{data.spec_resolution}}
  </h5>
</div>

<!--********************-->
<div class="desc" *ngIf="data.spec_processor != null">
  <h5>
    Processor: {{data.spec_processor}}
  </h5>
</div>

<!--********************-->
<div class="desc" *ngIf="data.spec_graphic_card != null">
  <h5>
    Graphic card: {{data.spec_graphic_card}}
  </h5>
</div>


