
.desc {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgba(83, 64, 255, 0.17);
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #223843;
  border-radius: 10px;
}

.desc h5{
  font-size: 1.1rem;
  font-weight: 400;
}


/*DESCRIPTION END*/



/*RESPONSIVE MEDIA QUERIES*/

@media (max-width: 320px) {
  .desc {
    padding: 7.5px;
    margin-right: 7.5px;
    margin-bottom: 7.5px;
  }

}

@media only screen and (max-width: 414px) and (min-width: 321px) {
  .desc {
    padding: 7.5px;
    margin-right: 7.5px;
    margin-bottom: 7.5px;
  }

}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {
}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {
}
@media only screen and (max-width: 920px) and (min-width: 769px) {
}
@media only screen and (max-width: 1025px) and (min-width: 921px) {
}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1026px) {


}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1201px) {
}
