<!--Smaller wrapper in follow-->
<div class="followWrapper">

    <!--One section wrapper Text-->
    <div class="OneWrapper HeaderJustify">
      <h3>Follow us:</h3>
    </div>

    <!--One section wrapper Facebook-->
    <div class="OneWrapper">

      <!--span with icon and link-->
      <span class="iconLinkWrapper">

          <!--span with image-->
          <span class="spanIcon">
            <img src="assets/icons-follow/facebook-follow.svg" alt="">
          </span>

          <!--Rigt side with text-->
          <span class="rightSide">
                <!--span small text-->
                <span class="text">
                  <h6>Follow us on:</h6>
                </span>

                <!--span Link to..-->
                <span class="text">
                  <a href="">Facebook</a>
                </span>
          </span>

      </span>

    </div>

    <!--One section wrapper Instagram-->
    <div class="OneWrapper">

    <span class="iconLinkWrapper">
          <!--span with image-->
        <span class="spanIcon">
              <img src="assets/icons-follow/instagram_icon.svg" alt="">
          </span>

          <!--Rigt side with text-->
          <span class="rightSide">
                <!--span small text-->
                <span class="text">
                  <h6>Follow us on:</h6>
                </span>

                <!--span Link to..-->
                <span class="text">
                  <a href="">Instagram</a>
                </span>
          </span>
    </span>

    </div>

    <!--One section wrapper Twitter-->
    <div class="OneWrapper">

      <span class="iconLinkWrapper">
            <!--span with image-->
            <span class="spanIcon">
                <img src="assets/icons-follow/twitter_bird_icon.svg" alt="">
            </span>

            <!--Rigt side with text-->
            <span class="rightSide">
                <!--span small text-->
                <span class="text">
                  <h6>Follow us on:</h6>
                </span>

                <!--span Link to..-->
                <span class="text">
                  <a href="">Twitter</a>
                </span>
          </span>
      </span>

    </div>

</div>
