<div id="introWrapper">
  <img class="videoImg" src="../../../assets/photos/video-play.png" alt="Video place">
  <h3 class="h3Intro">Let us show you what is our mission!</h3>
  <br>
  <p class="pIntro">
    Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Eos nulla nostrum dignissimos suscipit laudantium maxime sint asperiores
    libero ad recusandae esse repellendus natus velit sed, placeat, optio sapiente dolorem perspiciatis.
    Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Eos nulla nostrum dignissimos suscipit laudantium maxime sint asperiores
    libero ad recusandae esse repellendus natus velit sed, placeat, optio sapiente dolorem perspiciatis.
    Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Eos nulla nostrum dignissimos suscipit laudantium maxime sint asperiores
    libero ad recusandae esse repellendus natus velit sed, placeat, optio sapiente dolorem perspiciatis.
    Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Eos nulla nostrum dignissimos suscipit laudantium maxime sint asperiores
    libero ad recusandae esse repellendus natus velit sed, placeat, optio sapiente dolorem perspiciatis.
    Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Eos nulla nostrum dignissimos suscipit laudantium maxime sint asperiores
    libero ad recusandae esse repellendus natus velit sed, placeat, optio sapiente dolorem perspiciatis.
    Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Eos nulla nostrum dignissimos suscipit laudantium maxime sint asperiores
    libero ad recusandae esse repellendus natus velit sed, placeat, optio sapiente dolorem perspiciatis.
    Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Eos nulla nostrum dignissimos suscipit laudantium maxime sint asperiores
    libero ad recusandae esse repellendus natus velit sed, placeat, optio sapiente dolorem perspiciatis.
    Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Eos nulla nostrum dignissimos suscipit laudantium maxime sint asperiores
    libero ad recusandae esse repellendus natus velit sed, placeat, optio sapiente dolorem perspiciatis.
    Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Eos nulla nostrum dignissimos suscipit laudantium maxime sint asperiores
    libero ad recusandae esse repellendus natus velit sed, placeat, optio sapiente dolorem perspiciatis.

  </p>
</div>
