<div class="itemWrapper" *ngFor="let item of objectsToShow">
  <div class="itemHeader">
    <h3>{{item.prod_title}}</h3>
  </div>
  <div class="itemImage">
    <img [src]="item.prod_images" alt="">
  </div>
  <div class="itemDesc">
        <div class="desc">
          <h5>
              {{item.spec_color}}
          </h5>
        </div>
        <div class="desc">
          <h5>
              {{item.spec_ram}} &nbsp;GB &nbsp;RAM
          </h5>
        </div>
        <div class="desc">
          <h5>
              {{item.spec_hdd}} &nbsp;GB &nbsp; {{item.spec_hddType}}
          </h5>
        </div>
        <div class="desc">
          <h5>
              {{item.spec_screen_size}}'
          </h5>
        </div>
        <div class="desc">
          <h5>
              Guarantee &nbsp;{{item.spec_guarantee}}
          </h5>
        </div>
  </div>
  <div class="priceButtonWrapper">
      <div class="price">
            <h3>
                {{item.prod_price}}&nbsp;€
            </h3>
      </div>
      <button [routerLink]="['/categories', item.cat_slug, item.prod_slug, item.prod_id]" class="btnDetail">Details</button>
  </div>
</div>

<div class="showMorebtnWrapper">
  <button class="btn" (click)="showMore()" *ngIf="objects.length">Show More</button>
</div>
