
  <div class="childsWrapper">

    <!--One section Guarantee-->
    <div class="descriptionWrapper marginBottom">

          <div class="imageWrapp">
            <img src="assets/photos/guarantee.svg" alt="">
          </div>

          <div class="textWrapp1">
            <h4 class="Sizeh4">At least 6 months guarantee!</h4>
          </div>

    </div>

    <!--One section Sale-->
    <div class="descriptionWrapper marginBottom">

        <div class="imageWrapp">
            <img src="assets/photos/sale.svg" alt="">
          </div>

          <div class="textWrapp1">
            <h4 class="Sizeh4">You can save up to 40% with us!</h4>
          </div>

    </div>


    <!--One section donate-->
    <div class="descriptionWrapper">

        <div class="imageWrapp">
            <img src="assets/photos/childrens.png" alt="">
          </div>

          <div class="textWrapp1">
            <h4 class="Sizeh4">With every buy, you donate 1€ to kids with special needs!</h4>
          </div>

        </div>

  </div>

