/*smaller wrapper with width*/
.childsWrapper{
  position: relative;
  width: 1124px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 75px 0;
}

/*One section wrapper*/
.descriptionWrapper{
  position: relative;
  width: 334.66px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

/*Image wrapper*/
.imageWrapp{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}
.imageWrapp img{
  width: 70px;
}


/*TEXT wrapper*/
.textWrapp1 {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  margin-top: 15px;
}

.textWrapp1 h4{
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.2rem;
}
/*RESPONSIVE MEDIA QUERIES*/

@media (max-width: 320px) {
  /*smaller wrapper with width*/
    .childsWrapper {
      width: 238px;
      flex-wrap: wrap;
      justify-content: center;
      padding: 75px 0;
    }
  /*One section wrapper*/
    .descriptionWrapper {
      width: 100%;
    }
  /*Margin bottom for first two section*/
    .marginBottom {
      margin-bottom: 50px;
    }
  /*Text wrapper margin top*/
    .textWrapp1 {
      margin-top: 10px;
    }

  /*font size*/
    .Sizeh4{
      font-size: 1.35rem!important;
    }
}

@media only screen and (max-width: 414px) and (min-width: 321px) {
  /*smaller wrapper with width*/
    .childsWrapper {
      width: 300px;
      flex-wrap: wrap;
      justify-content: center;
      padding: 75px 0;
    }
  /*One section wrapper*/
    .descriptionWrapper {
      width: 80%;
    }
  /*Margin bottom for first two section*/
    .marginBottom {
      margin-bottom: 50px;
    }
  /*Text wrapper margin top*/
    .textWrapp1{
      margin-top: 10px;
    }
  /*font size*/
    .Sizeh4{
      font-size: 1.35rem!important;
    }

}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {
  /*smaller wrapper with width*/
    .childsWrapper {
      width: 380px;
      flex-wrap: wrap;
      justify-content: center;
    }
  /*One section wrapper*/
    .descriptionWrapper {
      width: 80%;
    }
  /*Margin bottom for first two section*/
    .marginBottom {
      margin-bottom: 50px;
    }
    /*font size*/
    .Sizeh4{
      font-size: 1.35rem!important;
    }
  /*Maragin text wrapper*/
    .textWrapp1 {
      margin-top: 10px;
    }

}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {
  /*smaller wrapper with width*/
    .childsWrapper {
      width: 538px;
      flex-wrap: wrap;
      justify-content: center;
    }
  /*One section wrapper*/
    .descriptionWrapper {
      width: 80%;
    }
  /*Margin bottom for first two section*/
    .marginBottom {
      margin-bottom: 50px;
    }
  /*Maragin text wrapper*/
    .textWrapp1 {
      margin-top: 10px;
    }

}
@media only screen and (max-width: 920px) and (min-width: 769px) {
  /*smaller wrapper with width*/
    .childsWrapper {
      width: 657px;
      flex-wrap: wrap;
      justify-content: center;
    }
  /*One section wrapper*/
    .descriptionWrapper {
      width: 80%;
    }
  /*Margin bottom for first two section*/
    .marginBottom{
      margin-bottom: 50px;
    }
  /*Maragin text wrapper*/
    .textWrapp1{
      margin-top: 10px;
    }
}
@media only screen and (max-width: 1025px) and (min-width: 921px) {
  /*smaller wrapper with width*/
    .childsWrapper {
      width: 820px;
    }
  /*One section wrapper*/
    .descriptionWrapper {
      width: 234.66px;
    }

}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1026px) {
  /*smaller wrapper with width*/
    .childsWrapper {
      width: 914px;
    }
  /*One section wrapper*/
    .descriptionWrapper {
      width: 274.66px;
    }

}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1201px) {
  /*smaller wrapper with width*/
    .childsWrapper {
      width: 1020px;
    }
  /*One section wrapper*/
    .descriptionWrapper {
      width: 294.66px;
    }

}
