<!--Image left thinking-->
<img src="assets/photos/studentThinking.png" alt="" class="imageStudent">

<!--Image laptop wrapper and then i the middle of laptop-->
<div class="imageLaptopWrapper">

  <img src="assets/photos/mac-laptop-screen.png" alt="" class="imagelaptop">

  <!--Text in the middle of laptop-->
  <div class="text">
    <h1>Are you a Student?</h1>
    <h2>Do you need a new Laptop?</h2>
    <h4>Don't miss <span class="color">15% on every laptop</span> you choose!</h4>
    <button class="chooseBtn"(click)="navigate()">Check our offer</button>
  </div>

</div>
