<!--On start guarantee icon and header-->
<div class="itemGarantie">
  <img src="assets/photos/guarantee.svg" alt="">
  <h3> 6 Month Guarantee </h3>
</div>

<!--wrapper all tags under guarantee image-->
<div class="optionsItemWrapper">

  <!--product specification left side Wrapper-->
  <div class="itemSpec">
    <!--ngFor spans with specification-->
    <div class="description" *ngFor="let item of optionsArr" [class.hidden]="item.spec == null">

      <h4 class="marginBottom">{{item.name}}</h4>

      <span class="spanDescription">
        <h4>{{item.spec}}</h4>
      </span>

    </div>

  </div>



  <!--Right side price, shipping details, buttons-->
  <div class="itemButton">

      <span class="priceShipping">
        <h1>{{price}}&nbsp;€</h1>
      </span>

      <span class="priceShipping">
        <h5>Free Shipping</h5>
      </span>

      <span class="priceShipping">
        <h5>Shipping from: Austria</h5>
      </span>

      <span class="priceShipping">
        <h5>In stock: &nbsp;{{quantity}}</h5>
      </span>

      <span class="priceShipping marginTop">
        <span class="minus" (click)="minus()">-</span>
        <span class="orderQuant">{{orderQuantity}}</span>
        <span class="plus" (click)="plus()">+</span>
      </span>

      <button class="addToCart" (click)="addToCart()" [disabled]="titleAdded!='Add to Cart'">{{titleAdded}}</button>

      <button class="buy"> Buy now</button>

  </div>
</div>
