/*HEader description wrapper*/
  .headerDescription{
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-start;
  }
/*HEader description*/
  .headerDescription h2{
    padding: 5px 25px;
    background-color: #5340ff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #ffffff;
  }
/*************************************************************************************

/*Div paragraph wrapper*/
.paragraph{
  position: relative;
  width: 100%;
  height: max-content;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 25px 20px 20px 20px;
  box-shadow: 0 1px 9px 0 rgb(0 0 0 / 2%), 0 2px 6px 0 rgb(0 0 0 / 1%),
  0 10px 34px 0 rgb(0 0 0 / 3%);
}
/*Paragraph*/
.paragraph p{
  font-weight: 600;
}
/*************************************************************************************

/*RESPONSIVE MEDIA QUERIES*/

@media (max-width: 320px) {
  /*Div paragraph wrapper*/
    .paragraph{
      padding: 20px 20px 20px 20px;
    }
  /*HEader description*/
  .headerDescription h2{
    font-size: 1.6rem;
  }
/*************************************************************************************/

}

@media only screen and (max-width: 414px) and (min-width: 321px) {
  /*Div paragraph wrapper*/
    .paragraph{
      padding: 20px 20px 20px 20px;
    }
  /*HEader description*/
    .headerDescription h2{
      font-size: 1.8rem;
    }
  /*************************************************************************************/
}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {
}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {
}
@media only screen and (max-width: 920px) and (min-width: 769px) {
}
@media only screen and (max-width: 1025px) and (min-width: 921px) {
}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1026px) {
}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1201px) {
}
