.logIn{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.option{
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.option h5 a{
  color: #001925;
  font-weight: 700;
  border: none;
  text-decoration: none;
}
.option h5 a:hover{
  color: #2B6777;
}
