<div id="homeWrapper">


  <app-banner id="bannerWrapper" *ngIf="displayBanner" [@fadeIn]></app-banner>


  <app-actions-home id="actionsWrapper"></app-actions-home>


  <app-guarantee-section id="guaranteeSection" style="width: 100%;"></app-guarantee-section>


  <app-best-items [Param]="'usedLaptops'" class="BestItemsWrapper"></app-best-items>

  <app-subscribe id="subscribe"></app-subscribe>

  <app-best-items [Param]="'smartphones'" class="BestItemsWrapper"></app-best-items>

  <app-folow id="follow"></app-folow>
</div>
