<div class="actWrapper">
  <div class="MoreProd">
    <h2>{{title}}</h2>
  </div>
  <div class="itemAct animate__animated animate__backOutUp animate__fadeIn" *ngFor="let item of objectToShow" [routerLink]="['/categories', item.cat_slug, item.prod_slug, item.prod_id]">
    <span class="img">
      <img [src]="item.prod_images" alt="">
    </span>
    <span class="prodTitle">
      <h4>{{item.prod_title}}</h4>
    </span>
    <span class="price">
      <h4>{{item.prod_price}} €</h4>
    </span>
  </div>
</div>
